<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0" />
        <title>Sheeps</title>
        <link
            rel="stylesheet"
            href="/assets/css/sheeps.css" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    </head>
    <body>
        <h1><%= title %></h1>

        <p><%= message %></p>

        <form
            action="/sheeps"
            method="POST">
            <label for="sheep">New sheep</label>
            <input
                id="sheep"
                type="text"
                name="sheep" />
            <button
                type="submit"
                class="material-symbols-outlined">
                Add
            </button>
        </form>

        <% if (Array.isArray(sheeps)) { %>
        <ul>
            <% sheeps.forEach(function(entry) { %>
            <li>
                <span contenteditable><%= entry.sheep %></span>
                <a
                    href="/sheeps/<%= entry.id %>"
                    class="material-symbols-outlined"
                    >draft</a
                >
                <button
                    data-update="<%= entry.id %>"
                    class="material-symbols-outlined">
                    save
                </button>
                <button
                    data-delete="<%= entry.id %>"
                    class="material-symbols-outlined">
                    delete
                </button>
            </li>
            <% }); %> <% if(sheeps.length === 1) { %>
            <li><a href="/sheeps/">list of all sheeps</a></li>
            <% } %>
        </ul>
        <% } else { %>
        <p>no sheeps out there.</p>
        <% } %>
        <script src="/assets/js/sheeps.js"></script>
    </body>
</html>
